@model toasty_railcar.Models.Verse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Verse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Translation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Testament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Testament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chapter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chapter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerseText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerseText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Related)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Related)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
